<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PortName" value="COM5" />
    <add key="BaudRate" value="115200" />
    <add key="Parity" value="Even" />
    <add key="DataBits" value="8" />
    <add key="StopBits" value="One" />
    <add key="AutoConnect" value="False"/>
    <add key="CloudUrl" value="http://cloudservices.com/services.svc"/>
    <add key="CloudUser" value="Jame Bond"/>
    <add key="CloudToken" value="ASB85S9SNS98S6S6SHSLAO"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>